.container {
  background: #ffffff;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.pageContainer {
  padding: 5px 20px;
}

h3 {
  color: black;
  font-size: 30px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0px;
  background: #ffffff;
  overscroll-behavior: none;
}

.skillOverlay {
  display: none;
}

.skill:hover .skillOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 200px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-right: 5px;
  margin-left: 5px;
}
.link:hover {
  background: #ffffff;
  padding: 10px;
  border-radius: 7px;
  color: rgb(183, 169, 169);
}
.link {
  padding: 10px;
}

.contactbutton {
  border-radius: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #540b0e;
  color: white;
}

.contactbutton:hover {
  background-color: #9e2a2b;
}

.skills {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill {
  position: relative;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 200px;
  height: 200px;
}

.skill:hover {
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.box {
  height: 400px;
  width: 100%;
  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: left;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}


.topleftlogo {
  height: 30px;
  width: 105px;
}

.background {
  width: 100%;
}

/* Container holding the image and the text */
.container2 {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-family: Chalkduster;
}

.socialLogos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.logos {
  width: 30%;
  width: 30%;
  padding: 10px;
}

.socials.html {
  background-color:  rgb(0, 0, 0);
}

.centered2 {
  position: absolute;
  top: 75%;
  left: 75%;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: serif;
}

.facebookBackground {
background-color: #ffffff;
}

.instagramBackground {
  background-color: #4c5457;
}




